*,
 *::before,
 *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
 body{
  background-color: lab(92.12% -27.18 4.4 / 0.671);
  padding:none;
}

 .container{
  position: relative;
  padding: 3rem;
  align-content: center;
  gap:1rem;
  color: rgb(36, 109, 206);
  font-family: 'Segoe UI', Tahoma, ;
 }
 .banner {
  width: 100%;
  height: 340px; /* altura del banner */
 /* overflow: hidden; */
  align-content: center;
}

.ban{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
#Ghibli{
  font-size: 3rem;
  font-style: oblique;
  text-align: center;
  margin:10px;  
}
.btns{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap:1rem;
}
 .btn{
  display: inline-flex;       
  align-items: center;   
  justify-content: center;    
  padding: 0.7rem;
  height: 47px;
  font-size: 19px;
  color:  rgb(14, 67, 136);
  background-color: rgba(25, 204, 183, 0.842) ;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(31, 172, 182);            
  border-radius: 8px;        
  cursor: pointer;
}
.btn:hover{
 background-color: rgba(99, 235, 160, 0.692);
 color:rgba(10, 23, 199, 0.726);
}
.cards{
 display:flex;
 flex-direction: column;
 align-items: center;
 gap:1rem;
  overflow: hidden;
}
.cardBody{
  display: flex;             
  align-items: center;
  width: 700px;
  padding: 1.5rem;   
  gap:0.6rem;
  color: rgb(7, 73, 158);
  font-family:  Tahoma, ;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(177, 169, 255, 0.1);
  /*transition: all 0.3s ease;*/
  background-color: rgba(134, 202, 207, 0.473);
 
}
.imgBox{
  width: 240px;
  height: 20rem;
  flex-shrink: 0;  

}
.imgBox > img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 2rem;
}
.info{
  list-style: none;
  text-align: justify;
  gap: 0.5rem;
  font-size: 19px;
}
footer{
  display: flex;
  justify-content: center;
  align-items: center; /* base alineada */
  font-size: 1.4rem;
  font-style: italic;
  background-color: rgba(141, 214, 190, 0.842);
  color:rgb(7, 73, 158) ;
}
footer p{
  margin: 0;
  transform: translateY(20px);
}
#totoro, #friends{
 height:150px;
 width: auto ;

 
}

#jiji{
  position: absolute;
  right: 2rem;
  top: 88%;
  transform: translateY(-50%);
  height: 300px;
  width: auto;
 
}
#toto{
  position: absolute;
  left: 2rem;
  top:30%;
  transform: translateX(-8%);/*horizontal*/
  height: 320px;
  width: auto;
}