*,
 *::before,
 *::after{
    box-sizing:border-box;
    padding: 0.5rem;
 }
 body{
    background-color: lab(92.12% -27.18 4.4 / 0.671);
}
 .container{
  padding: 0.5rem;
  gap:1.5rem;
  color: rgb(23, 100, 201);
  font-family: 'Segoe UI', Tahoma, ;
 }
 .btn{
  display: inline-flex;       
  align-items: center;   
  justify-content: center;    
  padding: 0.7rem;
  height: 47px;
  font-size: x-large;  
  background-color: rgba(255, 255, 255, 0.507);
  border-width: 1px;
  border-color: rgb(52, 165, 173);            
  border-radius: 8px;        
  cursor: pointer;
}
.btn:hover{
 background-color: rgb(28, 89, 202);
 color:white;
}
.cards{
 display:flex;
 flex-direction: column;
 justify-content: space-around;
 gap:0.5rem;
}
.cardBody{
  display: flex;             
  align-items: center;
  width: 600px;
  padding: 0.5rem;   
  gap:0.5rem;
  color: rgb(17, 14, 20);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(12, 6, 70, 0.1);
  transition: all 0.3s ease;
  background-color: rgba(134, 202, 207, 0.473);
}
.cardBody > img{

  height: 12rem;
  width: 12rem ;
  object-fit: contain;
  border-radius: 0.5rem;
}
.info{
  list-style: none;
  text-align: justify;
  gap: 0.3rem;
  font-size: 25px;
}