*,
 *::before,
 *::after{
    box-sizing:border-box;
    padding: 0.5rem;
 }
 body{
  background-color: lab(92.12% -27.18 4.4 / 0.671);
}

 .container{
  padding: 1.5rem;
  align-content: center;
  gap:1rem;
  color: rgb(65, 128, 211);
  font-family: 'Segoe UI', Tahoma, ;
 }
 .banner {
  width: 100%;
  height: 550px; /* altura del banner */
  overflow: hidden;
}

.ban{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}
#Ghibli{
  font-size: 3rem;
  font-style: oblique;
  text-align: center;
  margin:10px;  
}
.btns{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap:1rem;
}
 .btn{
  display: inline-flex;       
  align-items: center;   
  justify-content: center;    
  padding: 0.7rem;
  height: 47px;
  font-size: x-large;  
  background-color: rgba(255, 255, 255, 0.507);
  border-width: 1px;
  border-color: rgb(52, 165, 173);            
  border-radius: 8px;        
  cursor: pointer;
}
.btn:hover{
 background-color: rgb(28, 89, 202);
 color:white;
}
.cards{
 display:flex;
 flex-direction: column;
 align-items: center;

 gap:1rem;
}
.cardBody{
  display: flex;             
  align-items: center;
  width: 900px;
  padding: 0.5rem;   
  gap:0.5rem;
  color: rgb(17, 14, 20);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(12, 6, 70, 0.1);
  transition: all 0.3s ease;
  background-color: rgba(134, 202, 207, 0.473);
}
.cardBody > img{

  height:15rem;
  width: 20rem ;
  object-fit: contain;
  border-radius: 1rem;
}
.info{
  list-style: none;
  text-align: justify;
  gap: 0.3rem;
  font-size: 25px;
}

